{% extends "main.html" %}
{% load static %}
{% block main %}
<section class="edit_user_section container">
    <div class="edit_user">
        <div class="profile_img">
            <img id="preview_img" src="/media/{{edit_data.image}}" alt="">
        </div>
        <form class="edit_box" action="{% url 'edit_user' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" id="profile_img" name="profile_img" accept="image/*" onchange="previewImage()">
            <input type="text" id="name" name="name" value="{{ edit_data.name }}" required="">
            <input type="text" id="username" name="username" value="{{ edit_data.username }}" required="">
            <textarea name="description" id="description" rows="4" cols="50">{{ edit_data.description }}</textarea>
            <button type="submit" name="user_id" value="{{ edit_data.id }}">Submit</button>
        </form>
    </div>
</section>
<script>
    function previewImage() {
        var preview = document.getElementById('preview_img');
        var fileInput = document.getElementById('profile_img');
        var file = fileInput.files[0];
        
        if (file) {
            var reader = new FileReader();
            reader.onload = function(e) {
                preview.src = e.target.result;
            };
            reader.readAsDataURL(file);
        }
    }
</script>
{% endblock main %}